<div class='partOfscreen' id="partScreen1">
  <h1 class='main-title'>Mini game</h1>
  <a href="#" class="goGame" id="go">Let's start</a>
</div>

<div class="partOfscreen" id="partScreen2">
  <h2 class='main-title'>Choose youre time</h2>
  <ul class="listOfTime" id="listOfTime">
    <li>
      <button class="time-button" data-time="10">
        10 сек
      </button>
    </li>
    <li>
      <button class="time-button" data-time="20">
        20 сек
      </button>
    </li>
    <li>
      <button class="time-button" data-time="30">
        30 сек
      </button>
    </li>
    <li>
      <button class="time-button" data-time="45">
        45 сек
      </button>
    </li>
  </ul>
</div>

<div class="partOfscreen">
  <h3 class='main-title'>Time left <span id="time">00:00</span></h3>
  <div class="desk" id="desk"></div>
  
</div>


